<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}"/>
    <script src="https://kit.fontawesome.com/13e3511e22.js" crossorigin="anonymous"></script>
    <title>A Python Weather App</title>
</head>
<body>
    <section>
        <aside>
            <div class="input-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input id="location-input" type="text" placeholder="Search for places...">
            </div>
            <div class="sidebar-content">
                <div class="upper-content">
                    <div class="img-container" data-icon-url="{{ url_for('static', filename='assets/icons/') }}">
                        <img src="" alt="sidebar-image">
                    </div>
                    <h1 id="temp" class="unit"></h1>
                    <p id="day"></p>
                </div>
                <div class="lower-content">
                    <div class="info-div">
                        <i class="fa-solid fa-temperature-three-quarters"></i>
                        <p id="general-info"></p>
                    </div>
                    <div class="info-div">
                        <i class="fa-solid fa-umbrella"></i>
                        <p id="rain-info">Rain - </p>
                    </div>
                    <div id="location">
                        <h2></h2>
                    </div>
                </div>
            </div>
        </aside>
        <main>
            <header>
                <ul>
                    <li id="unit-selection">
                        <button id="celcius" class="active">°C</button>
                        <button id="fahreneit">°F</button>
                    </li>
                </ul>
            </header>
            <div id="weekly-weather">
                <template id="day-template">
                    <div id="day-container">
                        <h3></h3>
                        <div class="img-container">
                            <img src="{{ url_for('static', filename='assets/icons/sunny-icon.png') }}" alt="weekly-weather-image">
                        </div>
                        <div class="wrapper">
                            <p id="max-temp" class="unit"></p>
                            <p id="min-temp" class="unit"></p>
                        </div>
                    </div>
                </template>
            </div>
            <div class="highlights-container">
                <h2>Today's highlights</h2>
                <div id="highlights">
                    <div class="uv-index-container">
                        <h3>UV-Index</h3>
                        <progress id="uv-index" max="12" value="0"></progress>
                        <div class="label" data-label="0">0</div>
                        <div class="label" data-label="3">3</div>
                        <div class="label" data-label="6">6</div>
                        <div class="label" data-label="9">9</div>
                        <div class="label" data-label="12">12</div>
                        <p></p>
                    </div>
                    <div id="wind-status">
                        <h3>Wind Status</h3>
                        <h2 id="wind-speed"></h2>
                        <div class="wrapper">
                            <i class="fa-solid fa-compass"></i>
                            <p id="wind-direction"></p>
                        </div>
                    </div>
                    <div id="sunrise-sunset">
                        <h3>Sunrise & Sunset</h3>
                        <div class="wrapper">
                            <div>
                                <img src="{{ url_for('static', filename='assets/icons/sunrise-icon.png') }}" alt="sunrise">
                                <p id="sunrise"></p>
                            </div>
                            <div>
                                <img src="{{ url_for('static', filename='assets/icons/sunset-icon.png') }}" alt="sunset">
                                <p id="sunset"></p>
                            </div>
                        </div>
                    </div>
                    <div id="humidity">
                        <h3>Humidity</h3>
                        <h2 id="humidity-percentage"></h2>
                        <p id="humidity-info"></p>
                    </div>
                    <div id="visibility">
                        <h3>Visibility</h3>
                        <h2 id="visibility-distance"></h2>
                        <p id="visibility-info"></p>
                    </div>
                    <div id="air-quality">
                        <h3>Air Quality</h3>
                        <h2 id="air-quality-unit"></h2>
                        <p id="air-quality-info"></p>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <footer>
        <p>All rights reserved Oguz Gur (c) 2024</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>